{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css_files %}
{% endblock css_files %}k

{% block content %}
<!-- Form Section Try -->
<section class="bg-dark py-5 mb-4">
    <div class="container">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Create Match</h1>
                <p class="lead fw-normal text-muted mb-0">Some text</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-4">
                            <div class="form-floating mb-4">
                                {{form.event_name|add_class:"form-control"}}
                                {{form.event_name.label_tag}}
                            </div>
                        </div>
                        <div class="form-floating mb-4">
                            {{form.event_location|add_class:"form-control"}}
                            {{form.event_location.label_tag}}
                        </div>
                        <div class="form-floating mb-4">
                            {{form.event_date|add_class:"form-control"}}
                            {{form.event_date.label_tag}}
                        </div>
                        <div class="form-floating mb-4">
                            {{form.event_time|add_class:"form-control"}}
                            {{form.event_time.label_tag}}
                        </div>
                        <div class="mb-4">
                            {{form.event_details.label_tag}}
                            {{form.event_details|add_class:"form-control"}}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark btn">Create</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}