{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'sports/create-match.css' %}">
{% endblock css_files %}k

{% block content %}
<div class="form">
    <div class="title">Welcome</div>
    <div class="subtitle">Let's create a match!</div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-container ic1">
            {{form.title|add_class:"input"}}
            {{form.title.errors}}
        </div>
        <div class="input-container ic2">
            {{form.location|add_class:"input"}}
            {{form.location.errors}}
        </div>
        <div class="input-container ic2">
            {{form.date_time|add_class:"input"}}
            {{form.date_time.errors}}
        </div>
        <div class="input-container ic2">
            {{form.details|add_class:"input2"}}
            {{form.details.errors}}
        </div>
        <button type="submit" class="submit">Create</button>
    </form>
</div>
{% endblock content %}