body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #10cfff, #ee3875);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.nav ul {
  background-color: rgba(174, 235, 235, 0.37);
  list-style: none;
  margin-top: 0;
  height: 50px;
}

.nav li {
  display: inline;
  margin-left: 20px;
  font-size: 1.2em;
}

.nav a {
  text-decoration: none;
  color: white;
}

textarea {
  resize: none;
  height: 200px;
}
