{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sphera</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block css_files %}{% endblock css_files %}
</head>

<body>
    <nav class="nav">
        <ul>
            <li><a href="{% url 'index' %}">Sphera</a></li>
            <li><a href="{% url 'match_form' %}">Create Match</a></li>
            <li><a href="{% url 'all_matches' %}">Matches</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock content %}
</body>

</html>